@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth; 
}

body {
    background-color: #ffffff;
    line-height: 1.6;
    height: max-content;
}

/* Nav Bar */
nav {
    background-color: #ffffff;
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 9999999;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3vh;
}

.navBar .hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.headNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    list-style: none;
}

.headNav li a {
    padding-top: 6px;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #595959;
    cursor: pointer;
    text-decoration: none;
}

.brandName {
    cursor: pointer;
}

.navBar .brandName .brand a {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #020402;
}

.headNav li .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 30px;
    color: #020402;
    border: 2px solid #020402;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}

.headNav li .btn:hover {
    color: #ffffff;
    border: 2px solid #32aa27;
    background-color: #32aa27;
}

.headNav li a:hover {
    color: #32aa27;
}

.headNav .li:hover {
    color: #32aa27;
    text-decoration: underline;
    text-underline-offset: 10px;
    transition: text-underline-offset 0.2s ease;
}

/* Cover Page */

.coverPhoto img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
}

.coverPhoto::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.3));
    z-index: -1;
}

.mainContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    z-index: 1;
    top: 10vh;
    position: absolute;
    width: 100%;
}

/* Booking */
.booking {
    height: 79%;
    width:100%;
    margin: 10px;
    z-index: 2;
}

.booking .booking-Container .progress {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    height: fit-content;
    background-color: #eef1ef;
}

.booking .booking-Container .progress .progress-step {
    text-align: center;
    flex: 1;
    position: relative;
    transition: all 0.3s ease; 
}

.progress-step {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #e0e0e0;
    color: #2c2c2c;
    margin-right: 10px;
    transition: all 0.3s ease;
  }
  
  .progress-step.active {
    background-color: #28a745;
    color:#ffffff;
    border-radius: 20px;
  }

.booking .booking-Container .member span .required {
    color: rgb(204, 37, 37);
    margin-left: 4px;
}

.booking .booking-Container .progress .progress-step.active {
    color: #32aa27;
    font-weight: bold;
    animation: fadeIn 0.3s ease-in;
    color: #000000;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
}

#discountMsg{
    color: #32aa27;
    margin-top: 10px;
    font-weight: 500;
    text-align: center;
}

.booking .form-section  .login {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.booking .form-section  .login h4{
    font-weight: 700;
    color:#706f6f;
}

.booking .form-section  .login form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.booking .form-section  .login span{
    margin-top: 20px;
}

.booking .form-section .login .mb-3 input{
    width: 50vh;
}

.booking .form-section .login .mb-3 label{
   font-size:0.875rem;
}

.booking .form-section .login button{
    width:20vh ;
    background-color: #32aa27;
    border-color: #32aa27;
}

.booking .form-section .login button:hover{
    background-color: #3bc82e;
    border-color:  #3bc82e;
}

.hidden {
    display: none;
}

.payment-card {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

input[type="radio"].d-none + span {
    cursor: pointer;
  }
  
  input[type="radio"].d-none:checked + span {
    font-weight: bold;
    color: white;
    background-color: #32aa27;
  }

  .input-error {
    border: 2px solid red !important;
    outline: none;
  }

  .booking .booking-Container .form-section .class{
    display: none;
  }
  
/* radio btn choices */
  .booking .booking-Container .form-section .class .choices .btn-group .btn .choiceOne .choiceOneImg,
  .booking .booking-Container .form-section .class .choices .btn-group .btn .choiceTwo .choiceTwoImg,
  .booking .booking-Container .form-section .class .choices .btn-group .btn .choiceThree .choiceThreeImg{
    width: 321.33px;
    height: 214.19px;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.815);
  }

  .booking .booking-Container .form-section .class .choices .btn-group .btn .choiceOne .choiceOneImg img,
  .booking .booking-Container .form-section .class .choices .btn-group .btn .choiceTwo .choiceTwoImg img,
  .booking .booking-Container .form-section .class .choices .btn-group .btn .choiceThree .choiceThreeImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;     
    object-position:l
  }

  .booking .booking-Container .form-section .class .choices .btn-group .btn .choiceOne .choiceOneTxt,
  .booking .booking-Container .form-section .class .choices .btn-group .btn .choiceTwo .choiceTwoTxt,
  .booking .booking-Container .form-section .class .choices .btn-group .btn .choiceThree .choiceThreeTxt{
    width: 321.33px;
    height: 150px;
    background-color: #ffffff;
    box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.24);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
  }

  .booking .booking-Container .form-section .class .choices .btn-group .btn.choiceOneTxt .yogaClass p,
  .booking .booking-Container .form-section .class .choices .btn-group .btn.choiceTwoTxt .Dynamic p,
  .booking .booking-Container .form-section .class .choices .btn-group .btn.choiceThreeTxt .high p{
    font-size: 30px;
    line-height: 1.25;
    font-style: normal;
    letter-spacing: 0px;
    font-weight: 900;
    margin-bottom: 10px;
    color: #000000;
  }
  
  .booking .booking-Container .form-section .class .choices .btn-group .btn.choiceOneTxt .tailored p,
  .booking .booking-Container .form-section .class .choices .btn-group .btn.choiceTwoTxt .empower p,
  .booking .booking-Container .form-section .class .choices .btn-group .btn.choiceThreeTxt .get p{
    font-size: 16px;
    line-height: 1.25;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .booking .booking-Container .form-section .class .choices .btn-group .btn .choiceOne:hover .choiceOneImg,
  .booking .booking-Container .form-section .class .choices .btn-group .btn .choiceTwo:hover .choiceTwoImg,
  .booking .booking-Container .form-section .class .choices .btn-group .btn .choiceThree:hover .choiceThreeImg,
  .booking .booking-Container .form-section .class .choices .btn-group .btn .choiceOne:hover .choiceOneTxt,
  .booking .booking-Container .form-section .class .choices .btn-group .btn .choiceTwo:hover .choiceTwoTxt,
  .booking .booking-Container .form-section .class .choices .btn-group .btn .choiceThree:hover .choiceThreeTxt{
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.356),
    0 4px 10px rgba(0, 0, 0, 0.2);
transform: scale(1.02);
transition: all 0.3s ease;
  }
  .booking .booking-Container .form-section .class .choices .btn-group .btn .choiceOne:hover .choiceOneTxt .tailored p,
  .booking .booking-Container .form-section .class .choices .btn-group .btn .choiceTwo:hover .choiceTwoTxt .empower p,
  .booking .booking-Container .form-section .class .choices .btn-group .btn .choiceThree:hover .choiceThreeTxt .get p{
    color: #32aa27;
}

/* radio btn */
.booking .booking-Container .form-section .member .btn-group .btn,
.booking .booking-Container .form-section .paymentMethod .btn-group .btn{
border-color: black;
color: #000000;
box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.6),
    0 4px 10px rgba(0, 0, 0, 0.2);
}

.booking .booking-Container .form-section .member .btn-group .btn:hover,
.booking .booking-Container .form-section .paymentMethod .btn-group .btn:hover{
    background-color: #32aa27;
    color:#ffffff;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.74),
    0 4px 10px rgba(0, 0, 0, 0.2);
}

.booking .booking-Container .form-section .class .choices .btn-group .btn{
    border-color: none;
    border: none;
    color: #000000;
}


input[type="radio"].btn-check:checked + label {
    background-color: #32aa27;
    color: white; 
    border-color: #32aa27;
  }
  
  /* Specific to your class cards */
  #yoga:checked + label #choiceYoga,
  #pilates:checked + label #choicePilates,
  #hiit:checked + label #choiceHIIT {
    box-shadow: 0 0 10px #32aa27;
    border: 2px solid #32aa27;
    border-radius: 10px;
  }

  .btn-check:checked + label:hover {
    background-color: #28a722;
  }

    /* Container*/

.booking .booking-Container{
    border-color: #000000;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.312),
    inset -2px -2px 5px rgba(255, 255, 255, 0.881),
    0 4px 10px rgba(0, 0, 0, 0.2);
    border-width: 2px;
    height:100vh;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #ffffff;
}

.booking .booking-Container .form-section{
    margin-top:120px;
}
#memberChoiceGroup .border{
    border-color: #000000;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.312),
    inset -2px -2px 5px rgba(255, 255, 255, 0.881),
    0 4px 10px rgba(0, 0, 0, 0.2);
    border-width: 2px;
    height:50vh;
    width: 30%;
    margin-left: 60vh;
    margin-bottom: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.booking .booking-Container .form-section .member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking .booking-Container .class{
    padding-top: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking .booking-Container .class .choices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking .booking-Container .form-section .member .btn-group,
.booking .booking-Container .class .choices .btn-group{
    padding-top: 15px;
}

.booking .booking-Container .class .choices .btn-group{
    margin-bottom: 30px;
}

#toStep2{
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease;
    background-color: #32aa27;
    color: #ffffff;
    border-color: #32aa27;
    letter-spacing: normal;
    inline-size:normal;
    width: 200px;
    border-radius: 20px;
  }
  #toStep2.show {
    opacity: 2;
   display: block;
  }

  #toStep2:hover{
    letter-spacing: 5px;
    transition: all 0.3s ease;
  }

  /*form*/

  #step2{
    margin-top: 5px;
  }

  #step2 .form {
    border-color: #0000007f;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.74),
    0 4px 10px rgba(0, 0, 0, 0.2);
    border-width: 2px;
    width:fit-content;
    height: fit-content;
    margin-left: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    background-color: #ffffff;
    margin-bottom: 50px;
  }

  #step2 .form span{
    padding-bottom: 30px;
  }

  #step2 .form #userDetailsForm .mb-3 .form-control{
    width: 40rem;
    border-color: #595959;
  }
#step2 .form #userDetailsForm .date{
    margin-bottom: 30px;
}
  

  #step2 .form #userDetailsForm{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  }

  /*btn Time */
  #step2 .form #userDetailsForm .timeSelection{
    margin-top: 15px;
    width: 85%;
  }

  #step2 .form #userDetailsForm .timeSelection span{
    margin-bottom: 10px;
  }
  #step2 .form #userDetailsForm .timeSelection .btn-group{
    display: flex;
    justify-content: center;
    gap: 5px;
  }
 

  #step2 .form #userDetailsForm .btns #toStep3{
    transition: opacity 0.3s ease;
    background-color: #32aa27;
    color: #ffffff;
    border-color: #32aa27;
    letter-spacing: normal;
    inline-size:normal;
    width: 200px;
    border-radius: 20px;
  }

  #step2 .form #userDetailsForm .btns #Back{
    transition: opacity 0.3s ease;
    background-color: #706f6f;
    color: #ffffff;
    background-color: #706f6f;
    letter-spacing: normal;
    inline-size:normal;
    width: 200px;
    border-radius: 20px;
  }

  /*Payment*/
#step3{
    margin-top: 5px;
    padding-left: 50px;
}

#paymentForm{
    border-color: #00000065;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.74),
    0 4px 10px rgba(0, 0, 0, 0.2);
    border-width: 2px;
    width: 100vh;
    height: 80vh;
    padding: 30px;
}

.grid{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

#priceBox {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-left: 20px;
    width: 50vh;
    height: 80vh;
}
#priceDisplay {
    font-size: 1.5rem;
    font-weight: bold;
    color: #28a745;
}

#paymentForm .payOnstore button{
    display: none;
}

.booking-Container #thankYouPage{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#selectedTime{
    visibility:hidden ;
}

@media (min-width: 1200px) and (max-width: 1600px){
    .headNav {
        width: 37%;
    }

    #memberChoiceGroup .border{
        width: 50%;
        margin-left: 35vh;
        margin-bottom:0px;
        padding-bottom: 0px;
    }

    #step2 .form {
        margin-left: 15vh;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-evenly;
        background-color: #ffffff;
        margin-bottom: 50px;
      }
}
@media (min-width: 992px) and (max-width: 1200px){
    .headNav {
        display: none;
        flex-direction: row;
        position: fixed;
        align-items: center;
        justify-items: center;
        top: 60px;
        right: 0;
        background-color: white;
        width: 100%;
        box-shadow: 0 8px 0px rgba(0,0,0,0.1);
        z-index: 3;
        justify-content:space-evenly;
      }
    
      .headNav.show {
        display: flex;
        width: 100%;
        height:  100px;
      }
    
      .navBar .hamburger {
        display: block;
        color: #020402;
        z-index: 99;
        margin-bottom: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }

    #memberChoiceGroup .border{
        width: 50%;
        margin-left: 26vh;
        margin-bottom:0px;
        padding-bottom: 0px;
    }

    #step2 .form {
        margin-left: 15vh;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-evenly;
        background-color: #ffffff;
        margin-bottom: 50px;
      }

      #step2 .form #userDetailsForm .timeSelection .btn-group{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 5px;
      }
}
@media (min-width: 768px) and (max-width: 992px){
    .headNav {
        display: none;
        flex-direction: row;
        position: fixed;
        top: 60px;
        right: 0;
        background-color: white;
        width: 100%;
        box-shadow: 0 8px 0px rgba(0,0,0,0.1);
        z-index: 3;
        justify-content:space-evenly;
      }
    
      .headNav.show {
        display: flex;
        width: 100%;
        height:  100px;
      }
    
      .navBar .hamburger {
        display: block;
        color: #020402;
        z-index: 99;
        margin-bottom: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: end;
        
      }
}
@media (min-width: 481px) and (max-width: 768px){
    .headNav {
        display: none;
        flex-direction: row;
        position: fixed;
        top: 60px;
        right: 0;
        background-color: white;
        width: 100%;
        box-shadow: 0 8px 0px rgba(0,0,0,0.1);
        z-index: 3;
        justify-content:space-evenly;
      }
    
      .headNav.show {
        display: flex;
        width: 100%;
        height:  100px;
      }
    
      .navBar .hamburger {
        display: block;
        color: #020402;
        z-index: 99;
        margin-bottom: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: end;
        
      }
}
@media (min-width: 320px) and (max-width: 481px){
    .headNav {
        display: none;
        flex-direction: row;
        position: fixed;
        top: 60px;
        right: 0;
        background-color: white;
        width: 100%;
        box-shadow: 0 8px 0px rgba(0,0,0,0.1);
        z-index: 3;
        justify-content:space-evenly;
      }
    
      .headNav.show {
        display: flex;
        width: 100%;
        height:  100px;
      }
    
      .navBar .hamburger {
        display: block;
        color: #020402;
        z-index: 99;
        margin-bottom: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: end;
        
      }
}



