
/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
    margin: 0;
}
body {
    height: max-content;
}

/* Nav Bar */

nav {
    background-color: #ffffff;
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3vh;
}

.navBar .hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

.headNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    list-style: none;
}

.headNav li a {
    list-style: none;
    padding-top: .375rem;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: .063;
    color: #595959;
    cursor: pointer;
    text-decoration: none;
}

.brandName  {
    cursor: pointer;
}

.navBar .brandName .brand a{
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: .088rem;
    text-transform: uppercase;
   color: #020402;
}

.headNav li .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 30px;
    color: #020402;
    border: 2px solid #020402;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
}

.headNav li .btn:hover {
    color: #ffffff;
    border: 2px solid #32aa27;
    background-color: #32aa27;
    text-decoration: none;
    transition: all 0.3s ease;
}

.headNav li a:hover {
    color: #32aa27;
}

.headNav .li:hover{
    color: #32aa27;
    text-decoration: underline;
    text-underline-offset: 10px;
    transition: all text-underline-offset 0.3s ease;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

/* Cover Page */

.coverPhoto img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
}

.coverPhoto::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.3));
    z-index: -1;
}

/* Title */

 .title {
    position: absolute;
    top: 40vh;
    z-index: 1;
    color: #ffffff;
    margin-left: -80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title h1{
     font-size: 60px;
    font-style: normal;
    font-weight: 700;
   line-height: 1.25;
}
.title h6 {
    font-weight: 400;
    font-size: 20px;
}

.title .btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 30px;
    color: #ffffff;
    border: 2px solid #32aa27;
    background-color: #32aa27;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 30px;
    width: 300px;
}

.title .btn1:hover {
 letter-spacing: 3px;
 text-shadow: #292c29;
 transition: all 0.3s ease;
}

.title span{
    margin-top: 2vh;
}

.title span a:hover{
    text-decoration: underline;
    transition: all 0.3s ease;
}

.title span a{
    text-decoration: none;
    color:#acacac
}

/* Description Section */

.description {
    border-radius: 10px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.815);
    background-color: #ffffff;
    height:100%;
    position: absolute;
    top: 90vh;
    width: 100%;
    z-index: 1;
}

.mainContainer .description-Container{
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.description .description-Container .text{
    width: 28%;
    margin-right: 15vh;
}

.description .description-Container .text p{
    margin-bottom: 10px;
}

.description .description-Container .image {
    width:400px;
    height: 460px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.815); 
}

.description .description-Container .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;     
    object-position:left; 
}

.description .description-Container .text .titleDescrip{
    font-size: 14px;
    color: #32aa27;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.description .description-Container .text .headDescrip{
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0px;
    text-transform: none;
    margin-bottom: 10px;
}
.description .description-Container .text .descrip{
    display: block;
    unicode-bidi: isolate;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
    text-transform: none;
    color: #595959;
}
.description .description-Container .text .getinTouchlink{
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0px;
    text-transform: none;
    text-align: inherit;
    transition: none;
    background: none;
    height: auto;
    text-transform: none;
    text-decoration: underline;
    color: #595959;
}

/* Offers */

.offers{
    background-color: #eef1ef;
    height:100%;
    position: absolute;
    top: 150vh;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content: center;
}

 .offers-Container .head{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.offers .offers-Container .head .empower{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #32aa27;
}

.offers .offers-Container .head .personalized{
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0px;
    text-transform: none;
    margin-bottom: 10px;
    max-width: 640px;
}



.offers .offers-Container .choices{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.offers .offers-Container .choices .choiceOne, 
.offers .offers-Container .choices .choiceTwo,
.offers .offers-Container .choices .choiceThree{
    margin: 20px;
}
.offers .offers-Container .choices .choiceOne .choiceOneImg{
    width: 321.33px;
    height: 214.19px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.815);

}

.offers .offers-Container .choices .choiceOne .choiceOneImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;     
    object-position:left; 
}

.offers .offers-Container .choices .choiceOne .choiceOneTxt{
    width: 321.33px;
    height: 150px;
    background-color: #ffffff;
    box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.24);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

.offers .offers-Container .choices .choiceOne .choiceOneTxt .yogaClass p{
    font-size: 20px;
    line-height: 1.25;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    font-weight: 600;
    margin-bottom: 10px;
}

.offers .offers-Container .choices .choiceOne .choiceOneTxt .tailored p{
    font-size: 16px;
    line-height: 1.25;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    font-weight: 400;
    color: #595959;
    margin-bottom: 10px;
}

.offers .offers-Container .choices .choiceTwo .choiceTwoImg{
    width: 321.33px;
    height: 214.19px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.815);

}

.offers .offers-Container .choices .choiceTwo .choiceTwoImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;     
    object-position:left; 
}

.offers .offers-Container .choices .choiceTwo .choiceTwoTxt{
    width: 321.33px;
    height: 150px;
    background-color: #ffffff;
    box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.24);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

.offers .offers-Container .choices .choiceTwo .choiceTwoTxt .Dynamic p{
    font-size: 20px;
    line-height: 1.25;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    font-weight: 600;
    margin-bottom: 10px;
}

.offers .offers-Container .choices .choiceTwo .choiceTwoTxt .empower p{
    font-size: 16px;
    line-height: 1.25;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    font-weight: 400;
    color: #595959;
    margin-bottom: 10px;
}

.offers .offers-Container .choices .choiceThree .choiceThreeImg{
    width: 321.33px;
    height: 214.19px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.815);

}

.offers .offers-Container .choices .choiceThree .choiceThreeImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;     
    object-position:left; 
}

.offers .offers-Container .choices .choiceThree .choiceThreeTxt{
    width: 321.33px;
    height: 150px;
    background-color: #ffffff;
    box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.24);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

.offers .offers-Container .choices .choiceThree .choiceThreeTxt .high p{
    font-size: 20px;
    line-height: 1.25;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    font-weight: 600;
    margin-bottom: 10px;
}

.offers .offers-Container .choices .choiceThree .choiceThreeTxt .get p{
    font-size: 16px;
    line-height: 1.25;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    font-weight: 400;
    color: #595959;
    margin-bottom: 10px;
}

.offers .offers-Container .choices .choiceOne:hover .choiceOneTxt,
.offers .offers-Container .choices .choiceTwo:hover .choiceTwoTxt,
.offers .offers-Container .choices .choiceThree:hover .choiceThreeTxt {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
                inset -2px -2px 5px rgba(255, 255, 255, 0.6),
                0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.offers .offers-Container .choices .choiceOne:hover .choiceOneTxt .yogaClass,
.offers .offers-Container .choices .choiceTwo:hover .choiceTwoTxt .Dynamic,
.offers .offers-Container .choices .choiceThree:hover .choiceThreeTxt .high{
    color: #32aa27;
} 

.offers .offers-Container .choices .choiceOne:hover .choiceOneImg,
.offers .offers-Container .choices .choiceTwo:hover .choiceTwoImg,
.offers .offers-Container .choices .choiceThree:hover .choiceThreeImg {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
                inset -2px -2px 5px rgba(255, 255, 255, 0.6),
                0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.offers .offers-Container .choices .choiceOne,
.offers .offers-Container .choices .choiceTwo,
.offers .offers-Container .choices .choiceThree {
    margin: 20px;
    cursor: pointer;
}


/* Get in touch */

.getIntouch{
    background-color: #ffffff;
    height:100%;
    position: absolute;
    top: 250vh;
    width: 100%;
    z-index: 1;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.getIntouch .getIntouch-Container{
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.getIntouch .getIntouch-Container .form .getIntouchHead p.getHead{
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #32aa27;
    
}

.getIntouch .getIntouch-Container .form .getIntouchHead p.reachHead{
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0px;
    text-transform: none;
    margin-bottom: 10px;
    width: 50vh;
}

.getIntouch .getIntouch-Container .form{
    padding: 20px;
    margin: 30px;
}

.getIntouch .getIntouch-Container .form .form-floating .form-control{
    width: 50vh;
    margin-top: 40px;
    border-color: #292c29;
    font-size: 14px;
}

.getIntouch .getIntouch-Container .form .form-floating label{
    margin-top: -4px;
    font-size: 14px;
    font-style: normal;
    inline-size: 1.5;
    letter-spacing: 0px;
}

.getIntouch .getIntouch-Container .form .form-floating label .required,
.getIntouch .getIntouch-Container .form .iAllow label .required{
    color: rgb(184, 40, 40);
    margin-left: 4px;
}
.getIntouch .getIntouch-Container .form .iAllow{
    width: 50vh;
    margin-top: 10px;
    border-color: #292c29;
}

.getIntouch .getIntouch-Container .form .submitBtn .btn{
    margin-top: 30px;
    width: 50vh;
    background-color: #32aa27;
    border-radius: 30px;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.getIntouch .getIntouch-Container .map .contact-section {
    width : 500px;
    height: fit-content;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
  
.getIntouch .getIntouch-Container .map iframe {
    width: 100%;
    height: 220px;
    border: 0;
    border-radius: 8px;
    margin-bottom: 25px;
}
 
.getIntouch .getIntouch-Container .map h2 {
    padding: 6px;
}

.getIntouch .getIntouch-Container .map  .info-group {
    margin-bottom: 10px;
}

.getIntouch .getIntouch-Container .map .info-group a {
    color: #007BFF;
    text-decoration: none;
}

.getIntouch .getIntouch-Container .map .hours {
    margin-top: 10px;
}

.getIntouch .getIntouch-Container .map .hours div {
    display: flex;
    justify-content: space-between;
    padding: 4px 2px;
    border-bottom: 1px solid #eee;
}   

/* newsletter */

.newsLetter{
    background-color: #eef1ef;
    height:100%;
    position: absolute;
    top: 320vh;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.newsLetter .newsLetterForm .form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.newsLetter .newsLetterForm .form .form-floating{
    margin-right: 20px;
    width: 50vh;
    margin: 10px;
}

.newsLetter .newsLetterForm .form .form-floating input{
    border-radius: 30px;
    border-color: #292c29;
    font-size: 14px;
    padding-left: 30px;
}

.newsLetter .newsLetterForm .form .form-floating label{
    margin-left: 20px;
    font-size: 14px;
    font-style: normal;
    inline-size: 1.5;
    letter-spacing: 0px;
}

.newsLetter .newsLetterForm .form .form-floating label .required{
    color: rgb(184, 40, 40);
    margin-left: 4px;
}

.newsLetter .newsLetterForm .form .submitBtn .btn{
    width: 20vh;
    height: 4vh;
    background-color: #32aa27;
    border-radius: 30px;
}

.newsLetter .newsLetterForm .newsLetterHead{
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsLetter .newsLetterForm .newsLetterHead span{
    font-size: 23px;
    font-style: oblique;
    inline-size: 1.5;
    letter-spacing: 0px;
    font-weight: 400;
    color: #141313;
    text-transform: uppercase;
}



/* footer */

footer{
    background-color:#292c29;
    height: 100%;
    position: absolute;
    top: 343vh;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
}

footer .foot{
     width: 100%; 
     color:#acacac;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 20px;
    width: 100%;
}

footer .foot .footHead{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

footer .foot .footHead .FootbrandName .brand{
    font-size: 26px;
    font-weight: 800;
    inline-size: 1.5;
    letter-spacing: 0px;
}

footer .foot .footHead .nav .FootNav{
    display:flex;
    flex-direction: row;
    list-style: none;
}

footer .foot .footHead .nav .FootNav li a {
    margin-right: 30px;
    font-size: 14px;
    color:#acacac;
}
footer .foot .footHead .nav .FootNav li:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
    transition: text-underline-offset 0.2s ease;
}
footer .under{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .under .owner span,
footer .foot .contact .socMed i,
footer .foot .contact .mail a{
    color:#acacac;
    text-decoration: none;
}

footer .under .owner span{
    font-size: 14px;
}

footer .foot .contact p{
    font-size: 14px;
}

footer .foot .contact .socMed{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 150px;
}


@media (min-width: 1200px) and (max-width: 1600px){

    nav{
        height: 11.8vh;
    }

    .headNav li .btn {
        height: 40px;
        font-size: .87rem;
    }

    .headNav {
        width: 37%;
    }

    .title h1{
        font-size: 50px;
   }
   .title h6 {
       font-size: 20px;
   }
   
   .title .btn1 {
    height: 40px;
    font-size: .8rem;
   }

   .description .description-Container .image {
    width:250px;
    height: 350px; 
}
.description .description-Container .text .titleDescrip{
    font-size: 11px;
}
.description .description-Container .text .headDescrip{
    font-size: 13px;
}
.description .description-Container .text .descrip{
    font-size: 17px;
}
.description .description-Container .text .getinTouchlink{
    font-size: 15px;
}

.offers{
    top: 185vh;
   }

.offers-Container .head{
    margin-top: 50px;
}
.offers .offers-Container .head .empower{
    font-size: 13px;
}

.offers .offers-Container .head .personalized{
    font-size: 28px;
}

   .offers .offers-Container .choices .choiceOne .choiceOneImg,
   .offers .offers-Container .choices .choiceTwo .choiceTwoImg,
   .offers .offers-Container .choices .choiceThree .choiceThreeImg{
    min-width: 315px;
    min-height: 190px;
    max-width: 315px;
    max-height: 190px;
   }

   .offers .offers-Container .choices .choiceOne .choiceOneTxt,
   .offers .offers-Container .choices .choiceTwo .choiceTwoTxt,
   .offers .offers-Container .choices .choiceThree .choiceThreeTxt{
    min-width: 315px;
    min-height: 150px;
   }
   
 

   .offers .offers-Container .choices .choiceTwo .choiceTwoTxt .Dynamic p,
   .offers .offers-Container .choices .choiceOne .choiceOneTxt .yogaClass p,
   .offers .offers-Container .choices .choiceThree .choiceThreeTxt .high p{
    font-size: 18px;
   }

   .offers .offers-Container .choices .choiceOne .choiceOneTxt .tailored p,
   .offers .offers-Container .choices .choiceTwo .choiceTwoTxt .empower p,
   .offers .offers-Container .choices .choiceThree .choiceThreeTxt .get p{
    font-size: 15px;
   }

  .getIntouch{
    top: 280vh;
    height: fit-content;
   }

   .getIntouch .getIntouch-Container{
    padding: 30px;
    flex-direction: column-reverse;
}

.getIntouch .getIntouch-Container .form .getIntouchHead p.getHead{
    font-size: 14px
    
}

.getIntouch .getIntouch-Container .form .getIntouchHead p.reachHead{
    font-size: 30px;
    width: 100vh;
}

.getIntouch .getIntouch-Container .form{
    padding: 20px;
    margin: 30px;
}

.getIntouch .getIntouch-Container .form .form-floating .form-control{
    width: 100vh;
    margin-top: 30px;
}

.getIntouch .getIntouch-Container .form .form-floating label{
    font-size: 12px;
}

.getIntouch .getIntouch-Container .form .iAllow{
    width: 100vh;
}

.getIntouch .getIntouch-Container .form .submitBtn .btn{
    margin-top: 30px;
    width: 100vh;
    height: 6vh;
}

.getIntouch .getIntouch-Container .map .contact-section {
    min-width : 100vh;
}
  
.getIntouch .getIntouch-Container .map h2 {
    font-size: larger;
    font-weight: 900;
}

.getIntouch .getIntouch-Container .map  .info-group {
    font-size: small
}

.getIntouch .getIntouch-Container .map .info-group a {
    color: #007BFF;
    text-decoration: none;
}

.getIntouch .getIntouch-Container .map .hours {
    margin-top: 10px;
}
 
   .newsLetter{
    top: 485vh;
   }

   
.newsLetter .newsLetterForm .form{
    flex-direction: column;
}

.newsLetter .newsLetterForm .form .form-floating{
    width: 100vh;
    margin: 5px;
}

.newsLetter .newsLetterForm .form .form-floating input{
    font-size: 12px;
}

.newsLetter .newsLetterForm .form .form-floating label{
    font-size: 12px;
}
.newsLetter .newsLetterForm .form .submitBtn{
    margin-top: 20px;
}
.newsLetter .newsLetterForm .form .submitBtn .btn{
    width: 50vh;
    height: 6vh;
    background-color: #32aa27;
    border-radius: 30px;
}

.newsLetter .newsLetterForm .newsLetterHead span{
    font-size: 18px;
}

   footer{
    top: 555vh;
   }
}
@media (min-width: 992px) and (max-width: 1200px){

    .headNav {
        display: none;
        flex-direction: row;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        width: 100%;
        box-shadow: 0 8px 0px rgba(0,0,0,0.1);
        z-index: -1;
        justify-content:space-evenly;
      }
    
      .headNav.show {
        display: flex;
        width: 100%;
        height:  100px;
      }
    
      .navBar .hamburger {
        display: block;
        color: #020402;
        z-index: 99;
        margin-bottom: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: end;
        
      }
  
    .headNav li .btn {
        height: 30px;
        font-size: .7rem;
    }

    nav{
        height: 11.8vh;
    }

    .title h1{
        font-size: 45px;
   }
   .title h6 {
       font-size: 17px;
   }
   
   .title .btn1 {
    height: 35px;
    font-size: .75rem;
   }

   .description .description-Container .image {
    width:300px;
    height: 310px; 
}
.description .description-Container .text .titleDescrip{
    font-size: 11px;
}
.description .description-Container .text .headDescrip{
    font-size: 13px;
}
.description .description-Container .text .descrip{
    font-size: 14px;
}
.description .description-Container .text .getinTouchlink{
    font-size: 15px;
}

.offers{
    top: 190vh;
   }

.offers-Container .head{
    margin-top: 50px;
}
.offers .offers-Container .head .empower{
    font-size: 13px;
}

.offers .offers-Container .head .personalized{
    font-size: 28px;
}

   .offers .offers-Container .choices .choiceOne .choiceOneImg,
   .offers .offers-Container .choices .choiceTwo .choiceTwoImg,
   .offers .offers-Container .choices .choiceThree .choiceThreeImg{
    width: 275px;
    height: 150px;
   }

   .offers .offers-Container .choices .choiceOne .choiceOneTxt,
   .offers .offers-Container .choices .choiceTwo .choiceTwoTxt,
   .offers .offers-Container .choices .choiceThree .choiceThreeTxt{
    width: 275px;
    height: 150px;
   }
   
 

   .offers .offers-Container .choices .choiceTwo .choiceTwoTxt .Dynamic p,
   .offers .offers-Container .choices .choiceOne .choiceOneTxt .yogaClass p,
   .offers .offers-Container .choices .choiceThree .choiceThreeTxt .high p{
    font-size: 15px;
   }

   .offers .offers-Container .choices .choiceOne .choiceOneTxt .tailored p,
   .offers .offers-Container .choices .choiceTwo .choiceTwoTxt .empower p,
   .offers .offers-Container .choices .choiceThree .choiceThreeTxt .get p{
    font-size: 13px;
   }

  .getIntouch{
    top: 290vh;
    height: fit-content;
   }

   .getIntouch .getIntouch-Container{
    padding: 30px;
    flex-direction: column;
}

.getIntouch .getIntouch-Container .form .getIntouchHead p.getHead{
    font-size: 14px
    
}

.getIntouch .getIntouch-Container .form .getIntouchHead p.reachHead{
    font-size: 30px;
    width: 100vh;
}

.getIntouch .getIntouch-Container .form{
    padding: 20px;
    margin: 30px;
}

.getIntouch .getIntouch-Container .form .form-floating .form-control{
    width: 100vh;
    margin-top: 30px;
}

.getIntouch .getIntouch-Container .form .form-floating label{
    font-size: 12px;
}

.getIntouch .getIntouch-Container .form .iAllow{
    width: 100vh;
}

.getIntouch .getIntouch-Container .form .submitBtn .btn{
    margin-top: 30px;
    width: 100vh;
    height: 6vh;
}

.getIntouch .getIntouch-Container .map .contact-section {
    width : 100vh;
}
  
.getIntouch .getIntouch-Container .map h2 {
    font-size: larger;
    font-weight: 900;
}

.getIntouch .getIntouch-Container .map  .info-group {
    font-size: small
}

.getIntouch .getIntouch-Container .map .info-group a {
    color: #007BFF;
    text-decoration: none;
}

.getIntouch .getIntouch-Container .map .hours {
    margin-top: 10px;
}
 
   .newsLetter{
    top: 3050px;
   }

   
.newsLetter .newsLetterForm .form{
    flex-direction: column;
}

.newsLetter .newsLetterForm .form .form-floating{
    width: 100vh;
    margin: 5px;
}

.newsLetter .newsLetterForm .form .form-floating input{
    font-size: 12px;
}

.newsLetter .newsLetterForm .form .form-floating label{
    font-size: 12px;
}
.newsLetter .newsLetterForm .form .submitBtn{
    margin-top: 20px;
}
.newsLetter .newsLetterForm .form .submitBtn .btn{
    width: 50vh;
    height: 6vh;
    background-color: #32aa27;
    border-radius: 30px;
}

.newsLetter .newsLetterForm .newsLetterHead span{
    font-size: 18px;
}

   footer{
    top: 3400px;
   }
}
@media (min-width: 768px) and (max-width: 992px){
    .headNav {
        display: none;
        flex-direction: row;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        width: 100%;
        box-shadow: 0 8px 0px rgba(0,0,0,0.1);
        z-index: -1;
        justify-content:space-evenly;
      }
    
      .headNav.show {
        display: flex;
        width: 100%;
        height:  100px;
      }
    
      .navBar .hamburger {
        display: block;
        color: #020402;
        z-index: 99;
        margin-bottom: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: end;
        
      }
  
    .headNav li .btn {
        height: 30px;
        font-size: .7rem;
    }

    nav{
        height: 11.8vh;
    }

    .title {
        margin-left: -40vh;
    }

    .title h1{
        font-size: 45px;
   }
   .title h6 {
       font-size: 17px;
   }
   
   .title .btn1 {
    height: 35px;
    font-size: .75rem;
   }

   .description {
    height:fit-content;
}

   .mainContainer .description-Container{
    flex-direction: column-reverse;
}

.description .description-Container .text{
    width: 100%;
}

   .description .description-Container .image {
    margin-bottom: 40px;
    width:100%;
    height: 310px; 
}
.description .description-Container .text .titleDescrip{
    font-size: 11px;
}
.description .description-Container .text .headDescrip{
    font-size: 13px;
}
.description .description-Container .text .descrip{
    font-size: 14px;
}
.description .description-Container .text .getinTouchlink{
    font-size: 15px;
}

.offers{
    top: 210vh;
    height: fit-content;
   }

.offers-Container .head{
    margin-top: 50px;
}
.offers .offers-Container .head .empower{
    font-size: 13px;
}

.offers .offers-Container .head .personalized{
    font-size: 28px;
}

.offers .offers-Container .choices{
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}

   .offers .offers-Container .choices .choiceOne .choiceOneImg,
   .offers .offers-Container .choices .choiceTwo .choiceTwoImg,
   .offers .offers-Container .choices .choiceThree .choiceThreeImg{
    width: 450px;
    height: 250px;
   }

   .offers .offers-Container .choices .choiceOne .choiceOneTxt,
   .offers .offers-Container .choices .choiceTwo .choiceTwoTxt,
   .offers .offers-Container .choices .choiceThree .choiceThreeTxt{
    width: 450px;
    height: 150px;
   }
   
 

   .offers .offers-Container .choices .choiceTwo .choiceTwoTxt .Dynamic p,
   .offers .offers-Container .choices .choiceOne .choiceOneTxt .yogaClass p,
   .offers .offers-Container .choices .choiceThree .choiceThreeTxt .high p{
    font-size: 23px;
   }

   .offers .offers-Container .choices .choiceOne .choiceOneTxt .tailored p,
   .offers .offers-Container .choices .choiceTwo .choiceTwoTxt .empower p,
   .offers .offers-Container .choices .choiceThree .choiceThreeTxt .get p{
    font-size: 18px;
   }

  .getIntouch{
    top: 485vh;
    height: fit-content;
   }

   .getIntouch .getIntouch-Container{
    padding: 30px;
    flex-direction: column-reverse;
}

.getIntouch .getIntouch-Container .form .getIntouchHead p.getHead{
    font-size: 14px
    
}

.getIntouch .getIntouch-Container .form .getIntouchHead p.reachHead{
    font-size: 30px;
    width: 100vh;
}

.getIntouch .getIntouch-Container .form{
    padding: 20px;
    margin: 30px;
}

.getIntouch .getIntouch-Container .form .form-floating .form-control{
    width: 100vh;
    margin-top: 30px;
}

.getIntouch .getIntouch-Container .form .form-floating label{
    font-size: 12px;
}

.getIntouch .getIntouch-Container .form .iAllow{
    width: 100vh;
}

.getIntouch .getIntouch-Container .form .submitBtn .btn{
    margin-top: 30px;
    width: 100vh;
    height: 6vh;
}

.getIntouch .getIntouch-Container .map .contact-section {
    width : 100vh;
}
  
.getIntouch .getIntouch-Container .map h2 {
    font-size: larger;
    font-weight: 900;
}

.getIntouch .getIntouch-Container .map  .info-group {
    font-size: small
}

.getIntouch .getIntouch-Container .map .info-group a {
    color: #007BFF;
    text-decoration: none;
}

.getIntouch .getIntouch-Container .map .hours {
    margin-top: 10px;
}
 
   .newsLetter{
    top: 4080px;
   }

   
.newsLetter .newsLetterForm .form{
    flex-direction: column;
}

.newsLetter .newsLetterForm .form .form-floating{
    width: 100vh;
    margin: 5px;
}

.newsLetter .newsLetterForm .form .form-floating input{
    font-size: 12px;
}

.newsLetter .newsLetterForm .form .form-floating label{
    font-size: 12px;
}
.newsLetter .newsLetterForm .form .submitBtn{
    margin-top: 20px;
}
.newsLetter .newsLetterForm .form .submitBtn .btn{
    width: 50vh;
    height: 6vh;
    background-color: #32aa27;
    border-radius: 30px;
}

.newsLetter .newsLetterForm .newsLetterHead span{
    font-size: 18px;
}

   footer{
    top: 4400px;
   }
}
@media (min-width: 481px) and (max-width: 768px){
    .headNav {
        display: none;
        flex-direction: row;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        width: 100%;
        box-shadow: 0 8px 0px rgba(0,0,0,0.1);
        z-index: -1;
        justify-content:space-evenly;
      }
    
      .headNav.show {
        display: flex;
        width: 100%;
        height:  100px;
      }
    
      .navBar .hamburger {
        display: block;
        color: #020402;
        z-index: 99;
        margin-bottom: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: end;
        
      }
  
    .headNav li .btn {
        height: 30px;
        font-size: .7rem;
    }

    nav{
        height: 11.8vh;
    }

    .title {
        margin-left: -20vh;
    }

    .title h1{
        font-size: 35px;
   }
   .title h6 {
       font-size: 15px;
   }
   
   .title .btn1 {
    height: 30px;
    width: 40vh;
    font-size: 12px;
   }

   .description {
    height:fit-content;
}

   .mainContainer .description-Container{
    padding: 30px;
    flex-direction: column-reverse;
}

.description .description-Container .text{
    width: 100%;
}

   .description .description-Container .image {
    margin-top: 40px;
    margin-bottom: 40px;
    width:100%;
    height: 310px; 
}
.description .description-Container .text .titleDescrip{
    font-size: 11px;
}
.description .description-Container .text .headDescrip{
    font-size: 13px;
}
.description .description-Container .text .descrip{
    font-size: 14px;
}
.description .description-Container .text .getinTouchlink{
    font-size: 15px;
}

.offers{
    top: 210vh;
    height: fit-content;
   }

.offers-Container .head{
    margin-top: 50px;
}
.offers .offers-Container .head .empower{
    font-size: 13px;
}

.offers .offers-Container .head .personalized{
    font-size: 28px;
}

.offers .offers-Container .choices{
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}

   .offers .offers-Container .choices .choiceOne .choiceOneImg,
   .offers .offers-Container .choices .choiceTwo .choiceTwoImg,
   .offers .offers-Container .choices .choiceThree .choiceThreeImg{
    width: 400px;
    height: 250px;
   }

   .offers .offers-Container .choices .choiceOne .choiceOneTxt,
   .offers .offers-Container .choices .choiceTwo .choiceTwoTxt,
   .offers .offers-Container .choices .choiceThree .choiceThreeTxt{
    width: 400px;
    height: 150px;
   }
   
 

   .offers .offers-Container .choices .choiceTwo .choiceTwoTxt .Dynamic p,
   .offers .offers-Container .choices .choiceOne .choiceOneTxt .yogaClass p,
   .offers .offers-Container .choices .choiceThree .choiceThreeTxt .high p{
    font-size: 23px;
   }

   .offers .offers-Container .choices .choiceOne .choiceOneTxt .tailored p,
   .offers .offers-Container .choices .choiceTwo .choiceTwoTxt .empower p,
   .offers .offers-Container .choices .choiceThree .choiceThreeTxt .get p{
    font-size: 18px;
   }

  .getIntouch{
    top: 485vh;
    height: fit-content;
   }

   .getIntouch .getIntouch-Container{
    flex-direction: column-reverse;
    padding: 0px;

}

.getIntouch .getIntouch-Container .form .getIntouchHead p.getHead{
    font-size: 20px
    
}

.getIntouch .getIntouch-Container .form .getIntouchHead p.reachHead{
    font-size: 14px;
    width: 45vh;
}

.getIntouch .getIntouch-Container .form{
    margin-left: 10px;
    margin-top: 30px;
}

.getIntouch .getIntouch-Container .form .form-floating .form-control{
    width: 65vh;
    margin-top: 30px;
}

.getIntouch .getIntouch-Container .form .form-floating label{
    font-size: 12px;
}

.getIntouch .getIntouch-Container .form .iAllow{
    width: 65vh;
    font-size: 12px;
}

.getIntouch .getIntouch-Container .form .submitBtn .btn{
    margin-top: 20px;
    width: 65vh;
    height: 6vh;
}

.getIntouch .getIntouch-Container .map .contact-section {
    width : 70vh;
}
  
.getIntouch .getIntouch-Container .map h2 {
    font-size: larger;
    font-weight: 900;
}

.getIntouch .getIntouch-Container .map  .info-group {
    font-size: small
}

.getIntouch .getIntouch-Container .map .info-group a {
    color: #007BFF;
    text-decoration: none;
}

.getIntouch .getIntouch-Container .map .hours {
    margin-top: 10px;
}
 
   .newsLetter{
    top: 4035px;
   }

   
.newsLetter .newsLetterForm .form{
    flex-direction: column;
}

.newsLetter .newsLetterForm .form .form-floating{
    width: 80vh;
    margin: 5px;
}

.newsLetter .newsLetterForm .form .form-floating input{
    font-size: 12px;
}

.newsLetter .newsLetterForm .form .form-floating label{
    font-size: 12px;
}
.newsLetter .newsLetterForm .form .submitBtn{
    margin-top: 20px;
}
.newsLetter .newsLetterForm .form .submitBtn .btn{
    width: 50vh;
    height: 6vh;
    background-color: #32aa27;
    border-radius: 30px;
}

.newsLetter .newsLetterForm .newsLetterHead span{
    font-size: 18px;
}

   footer{
    top: 4400px;
   }

   footer .foot{
   justify-content:space-around;
   flex-direction: column;
}

footer .foot .footHead{
   display: flex;
   flex-direction: column;
   justify-content:space-around;
   align-items: center;
}

footer .foot .footHead .FootbrandName .brand{
   font-size: 26px;
   font-weight: 800;
   inline-size: 1.5;
   letter-spacing: 0px;
}

footer .foot .footHead .nav .FootNav{
   display:flex;
   flex-direction: row;
   list-style: none;
}

footer .foot .footHead .nav .FootNav li a {
   margin-right: 30px;
   font-size: 14px;
   color:#acacac;
}
footer .foot .footHead .nav .FootNav li:hover{
   text-decoration: underline;
   text-underline-offset: 10px;
   transition: text-underline-offset 0.2s ease;
}
footer .under{
   display: flex;
   flex-direction: column;
   align-items: center;
}

footer .under .owner span,
footer .foot .contact .socMed i,
footer .foot .contact .mail a{
   color:#acacac;
   text-decoration: none;
}

footer .under .owner span{
   font-size: 14px;
}

footer .foot .contact p{
   font-size: 14px;
}

footer .foot .contact .socMed{
   font-size: 18px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: start;
   width: 150px;
}
}
@media (min-width: 320px) and (max-width: 481px){
    nav .navBar .brandName .brand a{
        font-size: 15px;
    }
    .headNav {
        display: none;
        flex-direction: row;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        width: 100%;
        box-shadow: 0 8px 0px rgba(0,0,0,0.1);
        z-index: -1;
        justify-content:space-evenly;
      }
    
      .headNav.show {
        display: flex;
        width: 100%;
        height:  100px;
      }
    
      .navBar .hamburger {
        display: block;
        color: #020402;
        z-index: 99;
        margin-bottom: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: end;
        
      }

      .headNav li a {
        font-size: 11px;
    }
  
    .headNav li .btn {
        height: 30px;
        width: 160px;
        font-size: 14px;
    }
    nav{
        height: 11.8vh;
    }

    .title {
        margin-left: 5vh;
    }

    .title h1{
        font-size: 35px;
   }
   .title h6 {
       font-size: 15px;
   }
   
   .title .btn1 {
    height: 30px;
    width: 30vh;
    font-size: 12px;
   }

   .mainContainer #OffersNav{
    font-size: 10px;
   }

   .description {
    height:fit-content;
}

   .mainContainer .description-Container{
    padding: 30px;
    flex-direction: column-reverse;
}

.description .description-Container .text{
    width: 100%;
}

   .description .description-Container .image {
    margin-top: 40px;
    margin-bottom: 40px;
    width:100%;
    height: 310px; 
}
.description .description-Container .text .titleDescrip{
    font-size: 11px;
}
.description .description-Container .text .headDescrip{
    font-size: 13px;
}
.description .description-Container .text .descrip{
    font-size: 14px;
}
.description .description-Container .text .getinTouchlink{
    font-size: 15px;
}

.offers{
    top: 200vh;
    height: fit-content;
   }

.offers-Container .head{
    margin-top: 50px;
}
.offers .offers-Container .head .empower{
    font-size: 13px;
}

.offers .offers-Container .head .personalized{
    font-size: 23px;
}

.offers .offers-Container .choices{
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}

   .offers .offers-Container .choices .choiceOne .choiceOneImg,
   .offers .offers-Container .choices .choiceTwo .choiceTwoImg,
   .offers .offers-Container .choices .choiceThree .choiceThreeImg{
    width: 270px;
    height: 180px;
   }

   .offers .offers-Container .choices .choiceOne .choiceOneTxt,
   .offers .offers-Container .choices .choiceTwo .choiceTwoTxt,
   .offers .offers-Container .choices .choiceThree .choiceThreeTxt{
    width: 270px;
    height: 150px;
   }
   
 

   .offers .offers-Container .choices .choiceTwo .choiceTwoTxt .Dynamic p,
   .offers .offers-Container .choices .choiceOne .choiceOneTxt .yogaClass p,
   .offers .offers-Container .choices .choiceThree .choiceThreeTxt .high p{
    font-size: 18px;
   }

   .offers .offers-Container .choices .choiceOne .choiceOneTxt .tailored p,
   .offers .offers-Container .choices .choiceTwo .choiceTwoTxt .empower p,
   .offers .offers-Container .choices .choiceThree .choiceThreeTxt .get p{
    font-size: 12px;
   }

  .getIntouch{
    top: 365vh;
    height: fit-content;
   }

   .getIntouch .getIntouch-Container{
    flex-direction: column-reverse;
    padding: 0px;

}

.getIntouch .getIntouch-Container .form .getIntouchHead p.getHead{
    font-size: 20px
    
}

.getIntouch .getIntouch-Container .form .getIntouchHead p.reachHead{
    font-size: 14px;
    width: 45vh;
}

.getIntouch .getIntouch-Container .form{
    margin-left: 10px;
    margin-top: 30px;
}

.getIntouch .getIntouch-Container .form .form-floating .form-control{
    width: 50vh;
    margin-top: 30px;
}

.getIntouch .getIntouch-Container .form .form-floating label{
    font-size: 12px;
}

.getIntouch .getIntouch-Container .form .iAllow{
    width: 45vh;
    font-size: 12px;
}

.getIntouch .getIntouch-Container .form .submitBtn .btn{
    margin-top: 20px;
    width: 45vh;
    height: 6vh;
}

.getIntouch .getIntouch-Container .map .contact-section {
    width : 40vh;
}
  
.getIntouch .getIntouch-Container .map h2 {
    font-size: larger;
    font-weight: 900;
}

.getIntouch .getIntouch-Container .map  .info-group {
    font-size: small
}

.getIntouch .getIntouch-Container .map .info-group a {
    color: #007BFF;
    text-decoration: none;
}

.getIntouch .getIntouch-Container .map .hours {
    margin-top: 10px;
}
 
   .newsLetter{
    top: 4035px;
   }

   
.newsLetter .newsLetterForm .form{
    flex-direction: column;
}

.newsLetter .newsLetterForm .form .form-floating{
    width: 40vh;
    margin: 5px;
}

.newsLetter .newsLetterForm .form .form-floating input{
    font-size: 11px;
}

.newsLetter .newsLetterForm .form .form-floating label{
    font-size: 11px;
}
.newsLetter .newsLetterForm .form .submitBtn{
    margin-top: 20px;
}
.newsLetter .newsLetterForm .form .submitBtn .btn{
    width: 40vh;
    height: 6vh;
    background-color: #32aa27;
    border-radius: 30px;
}

.newsLetter .newsLetterForm .newsLetterHead span{
    font-size: 14px;
}

   footer{
    top: 4400px;
   }

   footer .foot{
   justify-content:space-around;
   flex-direction: column;
}

footer .foot .footHead{
   display: flex;
   flex-direction: column;
   justify-content:space-around;
   align-items: center;
}

footer .foot .footHead .FootbrandName .brand{
   font-size: 26px;
   font-weight: 800;
   inline-size: 1.5;
   letter-spacing: 0px;
}

footer .foot .footHead .nav .FootNav{
   display:flex;
   flex-direction: row;
   list-style: none;
}

footer .foot .footHead .nav .FootNav li a {
   margin-right: 30px;
   font-size: 14px;
   color:#acacac;
}
footer .foot .footHead .nav .FootNav li:hover{
   text-decoration: underline;
   text-underline-offset: 10px;
   transition: text-underline-offset 0.2s ease;
}
footer .under{
   display: flex;
   flex-direction: column;
   align-items: center;
}

footer .under .owner span,
footer .foot .contact .socMed i,
footer .foot .contact .mail a{
   color:#acacac;
   text-decoration: none;
}

footer .under .owner span{
   font-size: 14px;
}

footer .foot .contact p{
   font-size: 14px;
}

footer .foot .contact .socMed{
   font-size: 18px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: start;
   width: 150px;
}
}
