@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

/* Nav Bar */

nav {
    background-color: #ffffff;
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3vh;
}

.headNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    list-style: none;
}

.headNav li a {
    list-style: none;
    padding-top: 6px;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 1px;
    color: #595959;
    cursor: pointer;
}

.brandName  {
    cursor: pointer;
}

.navBar .brandName .brand a{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 1.4px;
    text-transform: uppercase;
   color: #020402;
}

.headNav .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 30px;
    color: #020402;
    border: 2px solid #020402;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 30px;
}

.headNav .btn:hover {
    color: #ffffff;
    border: 2px solid #32aa27;
    background-color: #32aa27;
}

.headNav li a:hover {
    color: #32aa27;
}

.headNav li:hover{
    color: #32aa27;
    text-decoration: underline;
    text-underline-offset: 10px;
    transition: text-underline-offset 0.2s ease;
}

/* Cover Page */

.coverPhoto img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
}

.coverPhoto::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.3));
    z-index: -1;
}

/* Title */

.title {
    position: absolute;
    top: 40vh;
    z-index: 1;
   /* font-size: 36px;*/
 /*   font-style: normal;*/
  /*  font-weight: 700;*/
  /*  line-height: 1.25;*/
    color: #ffffff;
    margin-left: 30vh;
}

.title h1{
     font-size: 60px;
    font-style: normal;
    font-weight: 700;
   line-height: 1.25;
}
.title h6 {
    font-weight: 400;
    font-size: 20px;
}

.title .btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 30px;
    color: #ffffff;
    border: 2px solid #32aa27;
    background-color: #32aa27;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 30px;
}




/* footer */

footer{
    background-color:#292c29;
    height: 50vh;
    position: absolute;
    top: 340vh;
    width: 100%;
    z-index: 1;
}

footer .foot{
     width: 100%; 
     color:#acacac;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 20px;
    margin-top: 150px;
    width: 100%;
}

footer .foot .footHead{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

footer .foot .footHead .FootbrandName .brand{
    font-size: 26px;
    font-weight: 800;
    inline-size: 1.5;
    letter-spacing: 0px;
}

footer .foot .footHead .nav .FootNav{
    display:flex;
    flex-direction: row;
    list-style: none;
}

footer .foot .footHead .nav .FootNav li a {
    margin-right: 30px;
    font-size: 14px;
    color:#acacac;
}
footer .foot .footHead .nav .FootNav li:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
    transition: text-underline-offset 0.2s ease;
}
footer .under{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .under .owner span,
footer .foot .contact .socMed i,
footer .foot .contact .mail a{
    color:#acacac;
    text-decoration: none;
}

footer .under .owner span{
    font-size: 14px;
}

footer .foot .contact p{
    font-size: 14px;
}

footer .foot .contact .socMed{
    font-size: 18px;
}
footer .foot .contact .socMed{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 150px;

}